<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
    <script th:src="@{/js/vue-jstree.js}"></script>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<!--

<div id="list" th:if="${mds != null}">
    <ul>
        <li th:each="md,iterStat:${mds}" > <a th:href="@{'/markDown/indexof?id='+${md.getId()}}" th:text="${md.name}"></a>
            <a th:href="@{'/markDown/indexof?pwd=a.123456&id='+${md.getId()}}"> edit</a>
        </li>
    </ul>
    number:<span th:text="${mds.size()}" ></span>
</div>
-->
<div id="mds">
    <div>
        <button @click="saveNew('0')">add root node</button>
        <!--<button @click="addBeforeNode">add child before node</button>-->
        <!--<button @click="addAfterNode">add child after node</button>-->
        <!--<button @click="openChildren">open child node</button>-->
        <!--<button @click="closeChildren">close child node</button>-->
    </div>
    <ol>
        <li v-for="site in sites">
            {{ site.name }}
        </li>
    </ol>


        <p style="text-align:left">Search Text <input type="text" @keyup="inputKeyUp" v-model="searchText" /></p>
    <v-jstree :data="trees" show-checkbox allow-batch whole-row @item-click="itemClick">
        <template scope="_">
            <div style="display: inherit; width: 200px" @click.ctrl="customItemClickWithCtrl(_.vm, _.model, $event)">
                <i :class="_.vm.themeIconClasses" role="presentation" v-if="!_.model.loading"></i>
                {{_.model.text}}
                <button style="border: 0px; background-color: transparent; cursor: pointer;" @click="customItemClick(_.vm, _.model, $event)"><i class="fa fa-eye"></i></button>
                <button style="border: 0px; background-color: transparent; cursor: pointer;" @click="editItem(_.vm, _.model, $event)"><i class="fa fa-edit"></i></button>
                <button style="border: 0px; background-color: transparent; cursor: pointer;" @click="saveNew(_.model.value)"><i class="fa fa-plus"></i></button>
                <button style="border: 0px; background-color: transparent; cursor: pointer;" @click="removeNode(_.model)"><i class="fa fa-remove"></i></button>
            </div>
        </template>
    </v-jstree>
</div>

</body>
</html>
<script>
    window.onload = function(){
        new Vue({
            el: '#mds',
            data: {
                searchText: '',
                editingItem: {},
                editingNode: null,
                sites: [
                    { name: 'Runoob' },
                    { name: 'Google' },
                    { name: 'Taobao' }
                ],
                trees: [
                    {
                        "text": "Same but with checkboxes",
                        "children": [
                            {
                                "text": "initially selected",
                                "selected": true
                            },
                            {
                                "text": "custom icon",
                                "icon": "fa fa-warning icon-state-danger"
                            },
                            {
                                "text": "initially open",
                                "icon": "fa fa-folder icon-state-default",
                                "opened": true,
                                "children": [
                                    {
                                        "text": "Another node"
                                    }
                                ]
                            },
                            {
                                "text": "custom icon",
                                "icon": "fa fa-warning icon-state-warning"
                            },
                            {
                                "text": "disabled node",
                                "icon": "fa fa-check icon-state-success",
                                "disabled": true
                            }
                        ]
                    },
                    {
                        "text": "Same but with checkboxes",
                        "opened": true,
                        "children": [
                            {
                                "text": "initially selected",
                                "selected": true
                            },
                            {
                                "text": "custom icon",
                                "icon": "fa fa-warning icon-state-danger"
                            },
                            {
                                "text": "initially open",
                                "icon": "fa fa-folder icon-state-default",
                                "opened": true,
                                "children": [
                                    {
                                        "text": "Another node"
                                    }
                                ]
                            },
                            {
                                "text": "custom icon",
                                "icon": "fa fa-warning icon-state-warning"
                            },
                            {
                                "text": "disabled node",
                                "icon": "fa fa-check icon-state-success",
                                "disabled": true
                            }
                        ]
                    },
                    {
                        "text": "And wholerow selection"
                    }
                ]
            },
            created: function () {
                this.$http.post('/markDown/init',{emulateJSON:true}).then(function(res){
                //console.log(res.body)
                    this.$data.trees = res.body;
                },function(res){
                    console.log(res.status);
                });
            },
            methods: {
                itemClick (node) {
                    this.editingNode = node;
                    this.editingItem = node.model;
                },
              removeNode: function (node) {
                  /*if (this.editingItem.id !== undefined) {
                      var index = this.editingNode.parentItem.indexOf(this.editingItem)
                      this.editingNode.parentItem.splice(index, 1)
                  }
                  */
                      if(node.children){
                        alert("nonono!!!");
                        return ;
                      }
                        id = node.value;
                        var s = prompt();
                       if(s){
                            this.$http.delete('/markDown/delMarkDown?id='+id+"&pwd="+s,{emulateJSON:true}).then(function(res){
                                console.log(res.body)
                            },function(res){
                                console.log(res.status);
                            });
                       }


              },
              addBeforeNode: function () {
                  if (this.editingItem.id !== undefined) {
                      this.editingItem.addBefore({
                          text: "newNode",
                          value: "newNode"
                      }, this.editingNode)
                  }
              },
              addAfterNode: function () {
                  if (this.editingItem.id !== undefined) {
                      this.editingItem.addAfter({
                          text: "newNode",
                          value: "newNode"
                      }, this.editingNode)
                  }
              },
              openChildren: function () {
                  if (this.editingItem.id !== undefined) {
                      this.editingItem.openChildren()
                  }
              },
              closeChildren: function () {
                  if (this.editingItem.id !== undefined) {
                      this.editingItem.closeChildren()
                  }
              }
              ,
              customItemClick: function (node ,item, e) {
                 /*
                  e.stopPropagation()
                  var index = node.parentItem.indexOf(item)
                  node.parentItem.splice(index, 1)
                  */
                  window.open("/markDown/indexof?id="+node.model.value);
              },
              customItemClickWithCtrl: function () {
                  console.log("ctrl click")
              },
              editItem: function(node ,item, e){
                var s = prompt()
                   if(s){
                      window.open("/markDown/indexof?id="+node.model.value+"&pwd="+s);
                   }
              },
              saveNew: function(pid){
                  var s = prompt()
                   if(s){
                        datas={'pid':pid};
                        datas.name="New_"+ Math.floor(Math.random()*100);
                         this.$http.post('/markDown/SaveMarkDown',datas,{emulateJSON:true}).then(function(res){
                            console.log(res.body)
                            //this.$data.trees = res.body;
                        },function(res){
                            console.log(res.status);
                        });
                    }
              }
              , inputKeyUp: function () {
              //搜索功能不完善
                  //var text = this.searchText
                  //const patt = new RegExp(text);
                  //console.log(this)
                  /*
                  this.$refs.tree.handleRecursionNodeChilds(this.$refs.tree, function (node) {
                      if (text !== '' && node.model !== undefined) {
                          const str = node.model.text
                          if (patt.test(str)) {
                              node.$el.querySelector('.tree-anchor').style.color = 'red'
                          } else {
                              node.$el.querySelector('.tree-anchor').style.color = '#000'
                          } // or other operations
                      } else {
                          node.$el.querySelector('.tree-anchor').style.color = '#000'
                      }
                  })
                  */
                }
            }

        })
    }
</script>